<div class="container">
  <div class="col-sm-10">
    <h3 class="pb-2 mt-4 mb-2 border-bottom">Fill Details to Login</h3>

    <hr>

    

      <p>E-mail Address: <input id="email-id" type="text" size=65 name="EMail" 
                          placeholder="Email Address" maxlength="254" pattern=
                          "\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" 
                          required=""></p><br>
      <p>Password: <input id="pw" type="password" size=65 name="Password"></p><br>
      <p><button routerLink="/forgotPassword">Forgot Password ?</button></p>
      <p><button (click)="userLogin()">submit</button>
        <input type="reset" value="Reset" name="Reset">
      </p>
  </div>
</div>
