<div class="container">
  <div class="col-sm-10">
    <h3>Fill Details to Login</h3>

    <hr>

    <body>
      
        <p>E-mail Address: <input id="email-id" type="text" size=65 name="EMail"></p><br>
        <p>Password: <input id="pw" type="password" size=65 name="Password"></p><br>
        <p> <button routerLink="/forgotPassword" >Forgot Password ?</button></p>
        <p><button (click)="userLogin()">submit</button>
          <input type="reset" value="Reset" name="Reset">
        </p>
      
    </body>
  </div>